table {
    background: skyblue;
    border: 2px solid darkblue;
    border-collapse: collapse;
    text-shadow: 2px 2px 3px #808080;
}

td {
    font-family: Consolas;
    font-size: 40px;
    border: 2px solid darkblue;
    padding: 13px 25px;
    color: darkblue
}

#result {
    text-align: right;
    padding-right: 15px;
}

#zero {
    text-align: center;
}

.buttons > td:hover {
    background: skyblue;
    cursor: pointer;
}
